.logRodape {
    max-width: 100px; /* Largura máxima das imagens */
    position: absolute; 
	left: 10px;
  }

.Rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A4E4FE; 
    color: white;
    padding: 20px 0; 
    position: relative; 
    top: 10px;
    border-radius: 10px;
}