
.fazer-seguro-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.lado-esquerdo {
  width: 40%;
}

.lado-direito {
  width: 50%; 
  background-color: #f0f0f0;
  padding: 10px; 
  border-radius: 10px;
}

.lado-direito form {
  display: flex;
  flex-direction: column;
}

.lado-direito label {
  margin-top: 10px;
  font-weight: bold;
}

.lado-direito input {
  margin-top: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.lado-direito button {
  margin-top: 10px;
  padding: 10px;
  background-color: #0046c7;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.lado-direito button:hover {
  background-color: #002d86;
}

.seguro-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
}

.lado-direito p {
  margin-top: 20px;
}
.quadrado-centralizado {
  width: 50%; 
  height: 545px; 
  padding: 10px;
  background-color: #f0f0f0; 
  border-radius: 10px;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto; 
  text-align: center; 
  font-size: 18px;
}

