/* Adicione estas regras CSS no seu arquivo PlanosSeguro.css */
.bike-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  
  .quadrado-container {
    display: flex;
    justify-content: space-between; /* Para colocar os quadrados um ao lado do outro */
    width: 100%; /* Para garantir que ocupem a largura máxima */
    max-width: 600px; /* Defina a largura máxima desejada */
    margin-top: 20px; /* Espaçamento entre os quadrados e o conteúdo acima */
  }
  
  .quadrado {
    flex: 1; /* Para igualar o tamanho dos quadrados */
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 0 10px; /* Espaçamento entre os quadrados */
  }
  
  .quadrado h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .quadrado p {
    margin-bottom: 10px;
  }
  
  .quadrado button {
    padding: 10px 20px;
    background-color: #A4E4FE;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
  }
  
  .quadrado button:hover {
    background-color: #029ad6;
  }
  