.planos-seguro-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
  }
  
  .quadrados-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 
  }
  
  .quadrado {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    width: 300px; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .cadastre-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #A4E4FE;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .cadastre-button:hover {
    background-color: #029ad6;
  }
  .plano-imagem {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    margin-top: 10px; 
  }
  .quadrado:hover {
    transform: scale(1.05); 
    transition: transform 0.3s ease; 
  }
  